@import "../../styles/config/variables";
@import "../../styles/config/mixins";

.hero {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  &__wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 120px 24px;

    @include media-query($medium-up) {
      padding-top: 220px;
    }
  }
}

.heroImg {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-y: hidden;
  background-image: url("/images/home-hero.jpg");
  background-size: contain;
}

.homeHeroContent {
  position: relative;
  width: 100%;
  max-width: 790px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  place-items: center;
  align-content: start;

  h1 {
    @include media-query($large-up) {
      margin-bottom: 50vh;
    }
  }

  p {
    width: 100%;
    max-width: 525px;
  }
}
