@import "../../styles/config/config";

.feature {
  margin: 30% 1rem 30% 1rem;

  @include media-query($medium-up) {
    margin: 0 10% 4rem 10%;
  }

  @include media-query($large-up) {
    margin: 35vh 20% 35vh 20%;
  }

  &__h1 {
    font-size: 28px;
    margin: 0em;
    padding-bottom: 16px;
    border-bottom: 3px solid var(--color-black);

    @include media-query($medium-up) {
      font-size: 36px;
    }
  }
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__inner {
    height: 80px;
    outline: "none";
  }
}

.close {
  position: absolute;
  width: 12px;
  cursor: pointer;
  right: 16px;
  top: 4px;
}
