@import "../../styles/config/config";

.nav {
  position: relative;
  @include media-query($medium-down) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.611);
    pointer-events: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9;
    opacity: 0;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }

  }

  @include media-query($large-up) {
    grid-column: 2/3;
    place-self: center;
    pointer-events: auto;
  }

  &__item {
    position: relative;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-black);
    letter-spacing: 2.22px;
    text-align: left;
    text-transform: uppercase;
    margin: 24px;

    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 58%;
      bottom: 2px;
      left: -5%;
      background-color: #e67b8e;
      z-index: -1;
      transition: all 350ms ease-in-out;
    }

    &:hover::before {
      width: 110%;
    }
  }
}

.active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 58%;
    bottom: 2px;
    left: -5%;
    background-color: #e67b8e;
    z-index: -1;
  }
}
