@import "../../styles/config/config";

.mainContainer {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.h1wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 50px 24px;
  @include media-query($large-up) {
    padding-top: 100px;
  }
  h1 {
    font-size: 32px;
  }
}
