@import "../../styles/config/config";

.wrapper {
  width: 75%;
  margin: 200px auto;

  &__table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 8px;
    }
  }
}
