@import "../../styles/config/config";

.container {
  margin: 16px;
  @include media-query($medium-up) {
    margin: 165px;
  }
}

.principle__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-top: 1px solid var(--color-n3);
  margin-top: 64px;
  @include media-query($medium-up) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 50px 0;
  }

  div {
    .number {
      color: var(--color-n3);
      font-size: 24px;
      margin: 32px 0 0 0;
      font-family: var(--playfair);
    }

    .principle {
      font-size: 24px;
      margin: 8px 0 12px 0;
      @include media-query($medium-up) {
        width: 400px;
      }
    }

    .scripture {
      margin: 0;
      font-size: 14px;
      color: var(--color-red);
    }
  }
}

.paragraph {
  @include media-query($medium-up) {
    line-height: 26px;
  }
}
